body {
    margin: 50px;
    background-color: rgb(255, 132, 0);
    padding: 50px;
    height: 50%;
    width: 50%;
}

nav {
    font-size: 25px;
}

table {
    font-size: 25px;
    color: rgb(6, 22, 172);
}

form {
    font-size: 20px;
    color: rgb(10, 10, 180);
}

footer {
    font-size: 20px;
}

button {
    font-size: 20px;
}